{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            <!-- hard code url -->
            <!-- <a href="/polls/{{ question.id }}/">{{ question.question_text }}</a>             -->
            <!-- using polls/urls.py -->
            <!-- <a href="{#{% url 'detail' question.id %}#}">{{ question.question_text }}</a> -->
            <!-- using namespaced in detail using app_name polls/urls -->
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">